In [1]:
my_superhero="Batman"

In [2]:
if my_superhero =="Batman":
    #indentation
    print("Batman")

Batman

In [ ]:
my_superhero=input("enter : ")

In [ ]:
if my_superhero=="Superman":
    print("superman")
elif my_superhero=="Batman":
    print("Batman")
else :
    print(":(")

In [ ]:
my_superhero_list=["Spiderman","Batman","Black widow"]

In [ ]:
if my_superhero in my_superhero_list:
    print(":)")
else:
    print(":(")

# Loops

In [ ]:
my_list=[10,20,30,40,50,60,70]

In [ ]:
for number in my_list:
    print(number)

In [ ]:
for number in my_list:
    print(number / 5*2)

In [ ]:
for x in my_list:
    if x%6==0:
        print(x)

In [ ]:
my_string="Emre Enes Yenen"

In [ ]:
for c in my_string:
    print(c)

In [ ]:
my_tuple=(10,20,30,40)

In [ ]:
for num in my_tuple:
    print(num/5*2)

In [ ]:
my_newList=[("a","b"),("c","d"),("e","f")]

len(my_newList)

In [ ]:
for element in my_newList:
    print(element)

In [ ]:
#tuple unpacking

In [ ]:
for (x,y) in my_newList:
    print(x)

In [ ]:
my_dictionary={"k1":100,"k2":200,"k3":300}

In [ ]:
for element in my_dictionary:
    print(element)

In [ ]:
for num in my_dictionary.values():
    print(num)

In [ ]:
print("for loop started")
for num in my_list:
    print(num)
print("For Loop ended")

In [ ]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break

In [ ]:
for number in my_list:
    if number == 40:
        continue
    print(number)

In [ ]:
for num in my_list:
    pass


#while

In [ ]:
x=0
while x <10:
    print(x)
    x+=1

In [ ]:
last_list=[10,20,30,40,50]
while 20 in last_list:
    print("20 in last_list")
     last_list.pop()

In [5]:
my_list=[10,20,30]

In [6]:
my_list

[10, 20, 30]

In [8]:
print(f"my list {my_list}")
print("my list",my_list)

my list [10, 20, 30]
my list [10, 20, 30]